<h1>Edit Process record</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.process_record_path(@conn, :update, @process_record)) %>

<span><%= link "Back", to: Routes.process_record_path(@conn, :index) %></span>
