<h1>New Process record</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.process_record_path(@conn, :create)) %>

<span><%= link "Back", to: Routes.process_record_path(@conn, :index) %></span>
